<?xml version="1.0" encoding="UTF-8"?>
<plugin id="com.oxygenxml.webhelp.responsive.custom.mainpage">
    <feature extension="com.oxygenxml.webhelp.xsl.dita2webhelp" file="customDita2webhelp.xsl"/>
    <feature extension="com.oxygenxml.webhelp.xsl.createMainPage" file="customMainPage.xsl"/>
    <feature extension="com.oxygenxml.webhelp.xsl.createSearchPage" file="customSearchPage.xsl"/>    
    <feature extension="com.oxygenxml.webhelp.xsl.createIndexTermsPage" file="customIndexTermsPage.xsl"/>
    
    <feature 
        extension="com.oxygenxml.webhelp.xsl.createMainPage.param" 
        file="params.xml"/>
    
    <feature 
        extension="com.oxygenxml.webhelp.xsl.createSearchPage.param" 
        file="params.xml"/>
    
    <feature 
        extension="com.oxygenxml.webhelp.xsl.createIndexTermsPage.param" 
        file="params.xml"/>
    
    <feature 
        extension="com.oxygenxml.webhelp.xsl.dita2webhelp.param" 
        file="params.xml"/>
</plugin>